*{
    -fx-primary : #e8a87c;
    -fx-secondary : #a8d6c9;
    -fx-primarytext : #ffffff;
    -fx-grey: #999999;
    -fx-lightorange: #ecb693;
}


.list-view .list-cell:even {
-fx-background-color: white;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: black;

}

.list-view .list-cell:focused {
-fx-background-color: white;
-fx-text-fill: black;

}
.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}
.jfx-tab-pane .headers-region {
    -fx-background-color: #002b43;
    
} 
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #002b43;
    -fx-tab-min-width:90px;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #8ab9d4;
    -fx-stroke-width: 7pt;
}
.jfx-tab-pane .tab:selected {
    -fx-background-color: #8ab9d4;
}
.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10; 
    -fx-opacity: 0;
}