*{
    -fx-primary : #e8a87c;
    -fx-secondary : #a8d6c9;
    -fx-primarytext : #ffffff;
    -fx-grey: #999999;
    -fx-darkblue:  #002b43;
}

.root{
   -fx-background-color: #dfedea;
   -fx-text-style: Sans-Serif;
}
.list-view {
   -fx-border-color: #a4a4a4;
  
   
  
}

.list-cell{
      -fx-border-color: #ececec;  /* similar to the default color */
    -fx-border-width: 0.5;   /* similar to the default width */
}

.list-view .list-cell:even {
-fx-background-color: white;
-fx-text-fill: black;

}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: black;

}

.list-view .list-cell:focused {
-fx-background-color: white;
-fx-text-fill: black;

}
.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}
.table.scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-padding: -10; 
    -fx-opacity: 0;
}

.table .column-header{
    -fx-background-color: #002b43;
    -fx-label-padding: 50;
    -height: 1000;
    
    
}
.table .column-header .label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    
}


.table{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.table-row-cell{
    -fx-cursor: hand;
}

.table-row-cell:hover{
    -fx-background-color: #a8d6c9;
    -fx-text-fill: black;
}

.table-row-cell:selected{
    -fx-background-color: #a8d6c9;
    -fx-text-fill: black;
}


.vbox {
   -fx-padding: 50;
}

.categories-button{
    -fx-background-color:  -fx-darkblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
    
}
.categories-button:hover {
   
-fx-background-color: #a8d6c9;
-fx-text-fill: black;
}

.categories-button:selected{
    -fx-background-color: #a8d6c9;
    -fx-text-fill: black;
}

.categories-button:disabled{
    -fx-background-color: #a8d6c9;
    -fx-text-fill: black;
}

.home-button{
     -fx-background-color:  -fx-darkblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-radius: 10;
    
}

.home-button:hover {
   
-fx-background-color: #a8d6c9;
-fx-text-fill: black;
}

.drawer-button{
  
      -fx-cursor: hand;
    
}
.drawer-button:selected{
    -fx-background-color: #dfedea;
      
    
}
.drawer-button:hover{
    -fx-background-color: #dfedea;
      -fx-cursor: hand;
    
}
.cancel-button {
    -fx-background-color:#a4a4a4;
}
.cancel-button:hover {
    -fx-background-color:white;
    -fx-border-color: #a4a4a4;
}

.menu-button {
    -fx-background-color:  -fx-darkblue;
    -fx-cursor: hand;
    
}
.menu-button.label {
    -fx-text-fill: white;
}
.menu-button:hover {
    -fx-background-color: #a8d6c9;
     
}
.menu-button:selected{
    -fx-background-color: #a8d6c9; 
}
.text-area {
    -jfx-focus-color:-fx-darkblue;
    -jfx-unfocus-color: #a4a4a4;
    
    -fx-text-padding: 20px;
    -fx-font-size: 16px;
   -fx-cursor: text;
}


.filter-pane {
   -fx-border-color: white #a4a4a4 white white;
   -fx-background-color: white;
}


.menu-item:hover {
    -fx-background-color: #a8d6c9;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane
{
    -fx-tab-width:50%;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-pref-width: 290;
}
.tab-pane .tab
{
    
-fx-background-color: -fx-darkblue;
}

.tab-pane .tab:selected
{
    -fx-background-color: #a8d6c9;
    -fx-height: 60px;
}
.tab-pane .tab:hover
{
    -fx-background-color: #a8d6c9;

}
.tab:hover .tab-label{
    -fx-text-fill: black;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px;

}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.image-view {
    -fx-border-color: black;
}

.circle-home{
     -fx-background-radius: 30em; 
                -fx-min-width: 100px; 
                -fx-min-height: 100px; 
                -fx-max-width: 100px; 
                -fx-max-height: 100px;
                -fx-background-color:  -fx-darkblue;
    -fx-text-fill: white;
    -fx-cursor: hand;
   
}
.circle-home:hover {
   
-fx-background-color: #a8d6c9;
-fx-text-fill: black;
  -fx-min-width: 105px; 
                -fx-min-height: 105px; 
                -fx-max-width: 105px; 
                -fx-max-height: 105px;
}
.icons:hover {
   
-fx-background-color: #a8d6c9;
  -fx-cursor: hand;

}

.menu-bar{
    -fx-cursor: hand;
}




