*{
    -fx-primary : #e8a87c;
    -fx-secondary : #a8d6c9;
    -fx-primarytext : #ffffff;
    -fx-grey: #999999;
    -fx-lightorange: #ecb693;
}

.list-view .list-cell:even {

-fx-text-fill: white;
}
.list-view .list-cell:odd {
-fx-background-color: white;
-fx-text-fill: white;
}
